<?xml version="1.0"?>  
<config>  
	<modules>  
		<JoomlArt_JmCategoryList>  
			<version>0.1.0</version>  
		</JoomlArt_JmCategoryList>  
	</modules>  
	<frontend>
		<translate>
			<modules>
				<JoomlArt_JmCategoryList>
					<files>
						<default>JoomlArt_JmCategoryList.csv</default>
					</files>
				</JoomlArt_JmCategoryList>
			</modules>
		</translate>
		<layout>
			<updates>
				<jmcategorylist>
					<file>jmcategorylist.xml</file>
				</jmcategorylist>
			</updates>
		</layout>
	</frontend>	
	<global>  		     
		<blocks>  
			<joomlart_jmcategorylist>  
				<class>JoomlArt_JmCategoryList_Block</class>  
			</joomlart_jmcategorylist>  
		</blocks> 		
		<models>  
			<joomlart_jmcategorylist>  
				<class>JoomlArt_JmCategoryList_Model</class>  
			</joomlart_jmcategorylist>  
		</models>	
		<helpers>  
			<joomlart_jmcategorylist>  
				<class>JoomlArt_JmCategoryList_Helper</class>  
			</joomlart_jmcategorylist>  
		</helpers>		
	</global>  
	
	<adminhtml>
		<menu>
            <joomlart>
                <title>Joomlart</title>
                <sort_order>100</sort_order>
                <children>
                    <jmcategorylist>
                        <title>JM CategoryList</title>
                        <sort_order>8</sort_order>
                        <action>adminhtml/system_config/edit/section/joomlart_jmcategorylist</action>
                    </jmcategorylist>
                </children>
            </joomlart>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <joomlart_jmcategorylist>
                                            <title>JM Products List</title>
                                        </joomlart_jmcategorylist>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
			<modules>
				<JoomlArt_JmCategoryList>
					<files>
						<default>JoomlArt_JmCategoryList.csv</default>
					</files>
				</JoomlArt_JmCategoryList>
			</modules>
		</translate>
    </adminhtml>	
		
	<default>
        <joomlart_jmcategorylist>
            <joomlart_jmcategorylist>
                <show>1</show>                
                <mode>latest</mode>                
                <title>JM Category List</title>                
                <template>joomlart/jmcategorylist/list.phtml</template>                
                <perrow>3</perrow>                
                <catsid></catsid>      
                <showcat>1</showcat>                
                <link_cat>0</link_cat>                
                <leading_product>1</leading_product>                
                <intro_product>5</intro_product>   
				<show_desc>0</show_desc>
                <maxchar>0</maxchar>
				<show_readmore>0</show_readmore>
            </joomlart_jmcategorylist>
        </joomlart_jmcategorylist>
    </default>
</config>  